*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #F5F5F5;
    text-decoration: none;
}

body{
    background-color: #ffffff;
    height: 100vh;
}

header{
    background-color: #0B0B0B;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}


nav{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul a{
    font-family: 'Inter', sans-serif;
    font-size: larger;
}

.logo img{
    width: 270px;
}

.social{
    display: flex;
    gap: 20px;
}

.link_icon img{
    width: 70px;
}

/*.principal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: blue;
    margin: 4%;
}

.box1{
    background-color: aqua;
    width: 60%;
    height: 500px;
}

.box2{
    background-color: rgb(6, 231, 63);
    width: 30%;
    height: 400px;
    display: flex;
}
    */