*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body{
    background-color: #ffffff;
    height: 100vh;
}

header{
    background-color: #0B0B0B;
    min-height: 80px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}

header a{
    color: #F5F5F5;
}

nav{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

nav ul a{
    
    font-size: larger;
}

.logo img{
    width: 90px;
}

.social{
    display: flex;
    gap: 20px;
}

.link_icon img{
    width: 70px;
}

h2{font-size: 50px;}

#formacao{
    text-align: center;
    margin: 20px 0;
}
.coluna-tecnologias{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card{
    width: 300px;
    height: 450px;
    background-color: #161B22;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #F5F5F5;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.card:hover{
    transform: scale(1.05);
    transition: 0.5s ;
}

.card h3{
    font-size: xx-large;
}
/* .container{

display: grid;

grid-template-columns: repeat(3, 1fr);

gap: 20px;

} */